.chatbot-container {
    max-width: 300px;
    max-height: 200px;

    margin: 0 auto;
    padding: 20px;
    background-color: #F8DEC1;
  }
  
  .chatbot-header {
    text-align: center;
    margin-bottom: 5px;

  }
  
  .chatbot-conversation {
    height: 200px;
    overflow-y: auto; 
    overflow-wrap: break-word; 
    margin-bottom: 10px;
    padding: 2px;
    background-color: #F8DEC1;

  }
  
  .chatbot-message {
    padding: 8px;
    margin-top: -5px;
    margin-bottom: -12px;
  }
  
  .user-message {
    background-color: #F8DEC1;
    text-align: right;
  }
  
  .bot-message {
    background-color: #F8DEC1;
    text-align: left;
    color: #BF8148;

  }
  
  .chatbot-input {
    display: flex;
  }
  
  .chatbot-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #F8DEC1;
    border-radius: 5px;
  }
  
  .chatbot-input button {
    padding: 8px 16px;
    background-color: #6D4520;
    color: #F8DEC1;
    border: none;
    border-radius:  0px 5px 5px 0px;
    cursor: pointer;
  }